<div class="jumbtron">
  <h1 class="display-4 text-center">Customers list</h1>
  <hr>
  <div class="row">
    <div class="col order-last"></div>
    <div class="col"></div>
    <div class="col-md-5">
      <table class="table table-hover" style="width: 110%">
        <tr>
          <th class="myClass">First Name</th>
          <th class="myClass">Last Name</th>
          <th class="myClass">Username</th>
          <th class="myClass">Role</th>
          <th class="myClass">Created at</th> 
        </tr>
        <!-- <div *nfIf = ""> </div> -->
        <tr *ngFor="let pd of service.list">
          <td (click)="populateForm(pd)" >{{pd.FirstName}}</td>
          <td (click)="populateForm(pd)" >{{pd.LastName}}</td>
          <td (click)="populateForm(pd)" >{{pd.Username}}</td>
          <td (click)="populateForm(pd)" >{{pd.Role}}</td>
          <td (click)="populateForm(pd)" >{{pd.CreationDate}}</td>
          <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.Id)"></i>

          </td>
          <td>
            <a routerLink="/edit-customer" routerLinkActive="active" class="table-row-action edit-action"
              (click)="populateForm(pd)">
              <i class="fa fa-pencil"></i>
            </a>
          </td>
        </tr>

      </table>
    </div>
  </div>
  <h1 class="display-4 text-center">
    <button routerLink="/add-customer" routerLinkActive="active">
      <td class="myClass"><i class="fa fa-plus-circle" aria-hidden="true"><span class="custom"
            style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
            Add customer</span></i></td>
    </button>
  </h1>
</div>
