<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">AdminInfo</a>
      <a class="nav-item nav-link" routerLink="/add-user" *ngIf="isAdmin">Add user</a>
      <a class="nav-item nav-link" routerLink="/show-users" *ngIf="isAdmin">Show users</a>
      <a class="nav-item nav-link" routerLink="/login-users" *ngIf="isAdmin">Show admins</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>

