/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invalid{
    border-color: red;
}

input.ng-valid{
    border-color: green;
}

.green-icon{
    color:green;
}

.red-icon{
    color:red;
}
.input-group {
margin-top: 35px;
margin-bottom: 15px;

}
#toast-container > div {
    opacity:1;
}

table tr:hover{
    cursor:pointer;
}

.fa {
  margin: auto; display: block;
  cursor:pointer;
}

button {

  background:transparent;
  border: none;
}
button:active{
  outline:none;
}

td.myClass{
  margin-top: 10px;
  border-top:none;
  cursor: default;
  background-color: transparent;
}

th.myClass{
  border-top:none;
}



td.myClass:hover{
 background: transparent;
}
tr.myClass:hover{
  background: transparent;
 }

 .buttonSize {
   font-size: small;
 }

 span.custom{
   font-weight: 300;
 }

 span.logout{
   text-align: right;
   margin-left: 1000px;

 }

